*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}


/* ====================HEADER SECTION START==================== */
.header-wrapper{
    background-image: url("../images/Banner Image.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 177px 0;
    border-radius: 16px;
    background-blend-mode: overlay;
}

.header-wrapper h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-wrapper h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 131%;
    max-width: 632px;
    margin: 0 auto;
}
/* ====================HEADER SECTION ENDED==================== */

/* ====================FOOTER SECTION START==================== */
.footer{
    background-color: #070211;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 120px 0 50px 0;
}
.footer-main .address h6{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
}
.footer-main .contact ul li{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
    list-style: none;
}
.footer-social ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px 0 50px 0;
    margin: 0;
}
.footer-social ul li{
    list-style-type: none;
}
.footer-social ul li a{}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 120px 0;
}
.footer-copyright p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-copyright a{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
/* ====================FOOTER SECTION ENDED==================== */