*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}


/* ====================HEADER SECTION START==================== */
.header-wrapper{
    background-image: url("../images/Banner Image.png"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 177px 0;
    border-radius: 16px;
    background-blend-mode: overlay;
}

.header-wrapper h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-wrapper h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 131%;
    max-width: 632px;
    margin: 0 auto;
}
/* ====================HEADER SECTION ENDED==================== */

/* ====================FOOTER SECTION START==================== */
.footer{
    background-color: #070211;
}
.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 120px 0 50px 0;
}
.footer-main .address h6{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
}
.footer-main .contact ul li{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%;
    list-style: none;
}
.footer-social ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px 0 50px 0;
    margin: 0;
}
.footer-social ul li{
    list-style-type: none;
}
.footer-social ul li a{}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 120px 0;
}
.footer-copyright p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-copyright a{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
/* ====================FOOTER SECTION ENDED==================== */

/* ====================PARSENTAGE START==================== */
.parsentage{
    padding: 120px 0;
    text-align: center;
}
.parsentage h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}
.parsentage h5{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.parsentage h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 36px;
}
.parsentage img{
    max-width: 802px;
}
/* ====================PARSENTAGE ENDED==================== */

/* ====================WELCOME START==================== */
.welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/Vectorrr.png'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 66px 126px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 16px;
}
.welcome .text{
    max-width: 697px;
}
.welcome .text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 20px;
}
.welcome .text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 33px;
}
.welcome .text a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 23px;
}
/* ====================WELCOME ENDED==================== */

/* ====================PLACE START==================== */
.place{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0 110px 0;
    border-radius: 16px;
    text-align: center;
}
.place h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place h3 span{
    color: #F00;
}
.place a{
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
/* ====================PLACE ENDED==================== */